<h2 id="topic-titlish"><%= @topic.first.title %></h2>
<h3 id="topic-descriptionish"><%= @topic.first.description %></h3>


<% @video_array.each do |video| %>
  <div class="video-tile-maker">
    <p id="video-tile__title"><%= video.title %>:</p>

    <div class="flex-video widescreen vimeo">
      <iframe src="https://www.youtube-nocookie.com/embed/<%= video.youtube_id %>?rel=0" width="400" height="225" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </div>
    <p id="video-tile__description"><%= video.description %></p>
  </div></br>
<% end %>
