<p class="title-tile"><%= image_tag "erin.png" %></br></br><%= t "genius.title" %></p>
<!-- <p> Welcome to Ms. McDonald's Genius Maker </p> -->
<div class="button-tiles">
  <%= link_to topics_path do %><p class="home-button"><%= I18n.t("genius.khan") %></br></br><%= image_tag "khan.jpg" %></p><% end %>
  <%= link_to nasas_path do %><p class="home-button"><%= I18n.t("genius.nasa") %></br></br><%= image_tag "NASA-space-science.jpg" %></p><% end %>
  <%= link_to pictures_path do %><p class="home-button"><%= I18n.t("genius.classroom") %></br></br><%= image_tag "classroom.jpg" %></p><% end %>
  <%= link_to meetings_path do %><p class="home-button"><%= I18n.t("genius.calendar") %></br></br><%= image_tag "calendar-image.jpg" %></p><% end %>
  <a href="/weathers" target="_blank"><p class="home-button"><%= I18n.t("genius.emoji") %></br></br><%= image_tag "weather2.jpg" %></p></a>
</div>
