<!DOCTYPE html>
<html>
<head>
  <title>GeniusMaker</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">


    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_pack_tag 'application' %>
<%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1 class="title-title"><%= link_to I18n.t("navbar.genius"), root_path %></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href=""><span></span></a></li>
    </ul>

    <section class="top-bar-section">
      <ul class="right">
        <%- if current_user -%>
          <li class="my-profile"><%= link_to I18n.t("navbar.profile"), user_path(current_user) %></li>
          <li><%= link_to I18n.t("navbar.out"), destroy_user_session_path, method: :delete %></li>
        <%- else -%>
          <li><%= link_to I18n.t("navbar.up"), new_user_registration_path %></li>
          <li><%= link_to I18n.t("navbar.in"), new_user_session_path %></li>
        <%- end -%>
        <%= content_tag :li do %>
        <%= link_to I18n.t("navbar.english"), locale: :en %>
        <% end unless current_page?(locale: :en) %>

        <%= content_tag :li do %>
        <%= link_to I18n.t("navbar.spanish"), locale: :es %>
        <% end unless current_page?(locale: :es) %>
      </ul>
    </section>
  </nav>


  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%>

  <%= yield %>


  <%= javascript_include_tag 'application' %>
  <%= yield :extra_footer %>
</body>
</html>
